.App {
  text-align: center;
}

.grid {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-area: 1/1/1/1;
  z-index: 100;
}

.gridElements {
  border: 1px black solid;
  max-width: 150px;
}

.canvas {
  width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template: 1;
  grid-template-rows: 1;
}

.img {
  grid-area: 1/1/1/1;
}

.noneBorder {
  border: none;
}
