.App {
  text-align: center;
}

.grid {
  width: 300px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  grid-area: 1/1/1/1;
  z-index: 100;
  grid-gap: 0;
}

.gridElements {
  border: 1px black solid;
  max-width: 150px;
}

.canvas {
  width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template: 1;
  grid-template-rows: 1;
}

.img {
  grid-area: 1/1/1/1;
}
.noneBorder {
  border: none;
}

.verticalLine div {
  width: 1px;
  background-color: black;
}

.verticalLine {
  display: flex;
  justify-content: space-evenly;
  grid-area: 1/1/1/1;
}

.horizontalLines div {
  height: 1px;
  background-color: black;
}

.horizontalLines {
  grid-area: 1/1/1/1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.filterOptions {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  text-align: center;
  grid-row-gap: 2em;
}
